* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #202C3C;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #090909;
  padding-left: 100px;
}

#spotify-logo {
  max-width: 150px;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.album-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  background-color: #303948;
  text-align: center;
  padding: 10px;
  margin: 20px 50px;
}

.album-logo {
  max-width: 100%;
}

.album-title {
  color: white;
  margin-top: 10px;
}
